.register {
  width: 100vw;
  height: 100ch;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  background-size: cover;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 50px;
      }
      .loginButton {
        background-color: red;
        padding: 5px 15px;
        font-size: 16px;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 220px;

    h1 {
      font-size: 50px;
    }
    h2 {
      margin: 15px;
    }
    p {
      font-size: 20px;
    }
    .input {
      width: 50%;
      height: 50px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      border-radius: 5px;

      input {
        width: 80%;
        height: 100%;
        padding: 0 10px;
      }
      .registerButton {
        width: 20%;
        height: 100%;
        background-color: red;
        color: white;
        font-size: 20px;
      }
    }
  }
}
