main {
  .featured {
    height: 20vh;
  }

}

.album {
  min-height: 63vh;



  .card {
    background-color: white;
    cursor: pointer;
    color: white;

    .listItem {
      width: 400px;
      height: 225px;

      img {
        object-fit:cover;
      }

      &:hover {
        width: 425px;
        height: 425px;
        left: -70px;
        position: absolute;

        .itemInfo {
          height: 30%;
          display: flex;
          flex-direction: column;
          padding: 5px;
        }

        video {
          object-fit: cover;
          position: absolute;
          width: 100%;
        }
      }
    }

  }
}